# Database (MySQL Local)
DB_HOST=localhost
DB_PORT=3306
DB_USER=fitlife_user
DB_PASSWORD=fitlife_pass
DB_NAME=fitlife_db

# Security
JWT_SECRET_KEY=yoursecretkeyhere
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=30

# App
DEBUG=True
API_VERSION=v1
CORS_ORIGINS=http://localhost:5173,http://localhost:4200
